html {
    margin: 0px auto;
    width: 1123px;
    background-color: #F8F8F8;
}

/*
*,
*::after,
*::before{
    box-sizing: inherit;
}
*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-header {
    position: relative;
}

.magnifying-glass {
    position: absolute;
    top: 19px;
    left: 19px;
}

.search {
    width: 440px;
    height: 55px;
    flex-shrink: 0; 
    border-color: white;
    border-radius: 21px;
    border-width: 0px;
    background: #FFF;
    box-shadow: 2px 4px 13px 0px rgba(138, 138, 138, 0.25);
    color: #888888;
    padding-left: 47px;
}

.slider-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sad-face {
    margin-right: 7px;
}

.smile-face {
    margin-left: 7px;
}

.slider-background {
    width: 327px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 21px;
    background: #D7EADD;
}

.header__button {
    position: relative;
    width: 77px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #498553;
    border-width: 0px;
}

.plus {
    position: absolute;
    top: 38px;
    left: 17px;
}

.branch {
    position: absolute;
    top: 19px;
    left: 24px;
}

/* Headers ^^^*/

.notify {

}

.point {
    position: relative;
    width: 212px;
    height: 228px;
    margin-top: 112px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E9F3ED; 
}

.dot {
    position: absolute;
    left: 8px;
    top: -2px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FF9F9F; 
}

.top-rectangl {
    width: 212px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 20px 20px 62px 0px;
    background: #D7EADD;
}

.notify__plant {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 59px;
}

.plant-face-sick {
    position: absolute;
    z-index: 2;
    top:25px;
    left:130px;
}

.snow {
    position: absolute;
    z-index: 2;
    top:13px;
    left:158px;
}

.icons {
    position: absolute;
    top: 194px;
    left: 18px;
}

.battery {
    margin-right: 60px;
}

.fire {
    margin-right: 9px;
}

.sunrise {
    margin-right: 9px;
}